{% extends 'filtered_list_view.html' %}
{% load static %}

{% block title %}Your Downloads{% endblock %}


{% block content_header %}
    <h2 class="mb-4"> Downloads
        {#  <a class="btn btn-success" href="{% url 'downloads_v2' %}" id="refresh"> Try v2 </a> #}
        <a class="btn btn-success" href="{% url 'account_downloads' refresh=1 %}" id="refresh"> Check for new items </a>
    </h2>
    <p>
        By downloading files you agree to our <a href="/terms/">Terms of Service</a>.
        Violations (including sharing files without permissions) may result in account access being revoked.
    </p>
{% endblock %}

{% block alternate %}
    <p class="p-6">
        Your downloads will appear here.
    </p>
{% endblock %}

{% block list %}
    {% include 'digital/snippets/downloads_list.html' %}
{% endblock %}






