{% extends 'container.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}
{% block extrastyle %}

{% endblock %}
{% block content %}
    {% for campaign in campaign_list %}
        <div>
            <a href="{% url 'view_campaign' campaign_slug=campaign.slug %}"><h2>{{ campaign.name }}</h2></a>
            {% for pack in campaign.pack_set.all|dictsortreversed:"pledges_to" %}
                <div>
                    <a href="{% url 'view_pack' campaign_slug=campaign.slug pack_id=pack.id %}">
                        <h3>{{ pack.name }}</h3></a>
                    {%include 'subscription/snippets/pack_info.html' %}
                </div>
            {% endfor %}
        </div>

    {% endfor %}

{% endblock %}
