{% extends 'container.html' %}
{% load static %}

{% block title %}Manage Subscriptions{% endblock %}
{% block extrastyle %}

{% endblock %}
{% block content %}
    {% for campaign in partner.campaigns.all %}
        <h2>Campaign: {{ campaign.name }}</h2>
        {% if campaign.patreon_campaign %}
            <h3> Patreon Info </h3>
            <a href="{% url 'edit_patreon_api_info' campaign_id=campaign.id partner_slug=partner.slug %}"> Edit </a>
            <p>
                Data last retrieved at {{ campaign.patreon_campaign.last_data_retrieved }}<br>
                {% if campaign.patreon_campaign.token_needs_refreshed %}
                    Token Needs Refreshed<br>
                {% endif %}
                {% if campaign.patreon_campaign.refresh_token_needs_refreshed %}
                    Refresh Token Needs Refreshed<br>
                {% endif %}
                Token last refreshed at {{ campaign.patreon_campaign.last_refreshed_token }}
            </p>
        {% else %}
            <h3> Link Patreon (Coming Soon) </h3>
        {% endif %}

        <h3>Tiers: </h3>
        <a href="{% url 'create_tier' campaign_id=campaign.id partner_slug=partner.slug %}">
            <h4>Create Tier</h4>
        </a>
        {% for tier in campaign.tiers.all %}
            <ul>
                <a href="{% url 'edit_tier' campaign_id=campaign.id partner_slug=partner.slug tier_id=tier.id %}">
                    <li>{{ tier }}</li>
                </a>
            </ul>
        {% endfor %}
        <h3>Discounts:</h3>
        <div>
            <a href="{% url 'create_discount' campaign_id=campaign.id partner_slug=partner.slug %}">
                <h4>Create Discount</h4>
            </a>
        </div>
        {% for discount in campaign.discounts.all %}
            <div>
                <h4>
                    <a href="{% url 'edit_discount' campaign_id=campaign.id partner_slug=partner.slug discount_id=discount.id %}">

                        {{ discount }}
                    </a>

                </h4>
                {% if discount.is_during_discount %}
                    Active for: {{ discount.time_remaining }}
                {% else %}
                    Discount is not currently active
                {% endif %}
                <a href="{% url 'delete_discount' campaign_id=campaign.id partner_slug=partner.slug discount_id=discount.id confirm=0 %}">
                    <i>Delete</i></a>

            </div>
        {% endfor %}
        <h3>Packs:</h3>
        <div>
            <a href="{% url 'create_subscription_pack' campaign_id=campaign.id partner_slug=partner.slug %}">
                <h4>Create pack</h4>
            </a>
        </div>
        {% for pack in campaign.packs.all|dictsortreversed:"pledges_to" %}
            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class='card-img img-thumbnail ' src="{{ pack.primary_image.image_url }}"
                                     alt="{{ pack.primary_image.alt_text }}"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3>
                                        <a href="{% url 'view_pack_manage' campaign_id=campaign.id partner_slug=partner.slug pack_id=pack.id %}">
                                            {{ pack.name }}
                                        </a>

                                        <a href="{% url 'edit_pack' campaign_id=campaign.id partner_slug=partner.slug pack_id=pack.id %}">
                                            <i>Edit</i>
                                        </a>
                                    </h3>

                                    {% include 'subscription/snippets/pack_info.html' %}
                                    <a href="{% url 'delete_pack' campaign_id=campaign.id partner_slug=partner.slug pack_id=pack.id confirm=0 %}">
                                        <i>Delete</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}
