{% extends 'container.html' %}
{% load static %}

{% block title %} Manage {{ pack.name }}{% endblock %}
{% block extrastyle %}
    <style>
        .card-img {
            object-fit: cover;
            height: 20vh;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5">
        <h1>
            {{ pack.name }}
            <button pack_id="{{ pack.id }}"
                    date="{% now "YmdHi" %}"
                    class="Download_Pack_Button btn btn-secondary"
                    id="download_pack_{{ pack.id }}">
                Download All
            </button>
        </h1>
        <a href="{% url 'edit_pack' campaign_id=pack.campaign.id partner_slug=partner.slug pack_id=pack.id %}">
            <h3>edit {{ pack.name }}</h3>
        </a>
        {% if pack.pack_image %}
            <img class='img-thumbnail' src="{{ pack.pack_image.image.url }}"
                 alt="{{ pack.pack_image.alt_text }}"
                 style="max-width:200px; max-height: 200px;"
                 onclick="document.getElementById('displayed_image').src=this.src"/>
            <a type="button" class="btn btn-danger"
               href="{% url 'remove_pack_image' partner_slug=partner.slug pack_id=pack.id image_id=pack.pack_image.id campaign_id=pack.campaign.id %}">
                Remove Image
            </a>
        {% else %}
            <a type="button" class="btn btn-secondary"
               href="{% url 'upload_pack_image' partner_slug=partner.slug pack_id=pack.id campaign_id=pack.campaign.id %}">
                Set Image
            </a>
        {% endif %}

        {% include 'subscription/snippets/pack_info.html' %}
        <h2>How it appears when Purchased:</h2>
        {% with purchased=True partner=None %}
            {% include 'digital/snippets/downloads_list.html' %}
        {% endwith %}
        <h2>How it appears when Unpurchased:</h2>
        {% for di in purchases %}
            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <div class="row no-gutters">
                            {% if di.product.should_be_visible or not di.product.page_is_draft %}
                                {% if di.product.visible %}
                                    <a href="{% url 'product_detail' product_slug=di.product.slug %}">
                                {% endif %}
                            <div class="col-md-4">
                                <img class='card-img' src="{{ di.product.main_image.image.url }}"
                                     alt="{{ di.product.main_image.alt_text }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2>{{ di.product.name }}
                                    </h2>
                                </div>
                            </div>
                            {% if di.product.visible %}
                                </a>
                            {% endif %}

                            {% else %}
                                Not yet revealed!
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h2>{{ users.count }} Patrons have access: </h2>
        <i>This list updates when the pledges script checks their pledges or a user refreshes their downloads</i>
        <br>
        {% for patron in users %}
                <a href="{% url 'partner_customer_details' partner_slug=partner.slug user_id=patron.id %}">
                    {{ patron }},
                </a>
        {% endfor %}
        <h3>Emails of above patrons (csv):</h3>
        {% for email in emails %}
            {{ email.0 }},
        {% endfor %}
    </div>

{% endblock content %}



