{% load react %}

{% for di, root_folder in download_list.items %}
    {% if di.available_for_download %}
        {% with di.product.visible as prod_visible %}
            <ul class="xl:divide-y-2 xl:divide-neutral_back shoplist">
                <li class="bg-white rounded-md xl:rounded-none shadow xl:shadow-none mb-3 xl:mb-0">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="flex flex-col xl:flex-row gap-4 xl:gap-6 flex-grow">
                                <div class="w-full xl:w-64 h-64 flex-shrink-0">

                                    {% if prod_visible %}
                                        <a href="{% url 'product_detail' product_slug=di.product.slug %}">
                                    {% endif %}
                                    <img class='w-full h-full object-cover rounded-t-md xl:rounded-t-none'
                                         src="{{ di.product.primary_image.image_url }}"
                                         alt="{{ di.product.primary_image.alt_text }}">
                                    {% if prod_visible %}
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="flex-grow p-3 xl:pl-0">
                                    <div class="flex flex-row col-span-2 items-center justify-between gap-2 mb-3">
                                        {% if prod_visible %}
                                            <a href="{% url 'product_detail' product_slug=di.product.slug %}">
                                        {% endif %}
                                        <h2>{{ di.product.name }}</h2>
                                        {% if prod_visible %}
                                            </a>
                                        {% endif %}
                                        {% if di.enable_download_all %}
                                            {% include 'digital/snippets/download_all_button.html' %}
                                        {% endif %}
                                    </div>
                                    <div class="h-10">
                                        Last Updated {{ di.root_downloadable.updated_timestamp|date:"d M Y" }}
                                    </div>
                                    {% if di.available_for_download %}
                                        {% include 'digital/snippets/di_download.html' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        {% endwith %}
    {% endif %}
{% endfor %}