__pycache__
venv
*.pyc
/static
.env
.envdev
.envprod
__pychache__
*.sqlite3

.idea/
.vscode/

node_modules/

#Ignore compiled javascript files
/openCGaT/static/js/
/ts_src/cart/*.js
/ts_src/cart/components/*.js
/ts_src/cart/components/*.jsx


#Ignore uploaded files
/media/**

# Yarn 2
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn.lock
yarn-error.log

# Ignore local dev tools version configurations
# since they can contain computer specific information
.python-version
.nvmrc
m1_mac_env_setup.sh
/yaml/shopcgt-secrets

#Ignore text reports
/reports/*
