rfc3339
gunicorn
Django == 4.2.3
django-allauth
django-b2
django-debug-toolbar
django-debug-toolbar-template-profiler
django-polymorphic
django-money == 3.1.0
django-rest-framework
django-react-templatetags
django-cors-headers
django-storages[azure]

azure-common == 1.1.28
boto3

django-imagekit

python-dotenv
split-settings

psycopg2-binary

squareup
wagtail==5.0.2
wagtail_non_admin_draftail==0.18.2
whitenoise

django-treewidget
django-mathfilters


stripe
django-address
django-mptt

pandas

django-jquery

checkdigit

django-extensions
pyparsing
pydot
py-moneyed
djangorestframework
pilkit
Pillow
requests
xlrd
beautifulsoup4
django-treebeard
django-oscar @ git+https://github.com/django-oscar/django-oscar@master
pytz

python-dateutil
setuptools
six
b2sdk

sentry-sdk
