{% extends 'container.html' %}
{% load static %}

{% block title %}Customer Details{% endblock %}
{% block extrastyle %}

    <!-- Custom styles for this template -->

{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Last Login</th>
            <th scope="col">Date Joined</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tr>
            <td>{{ customer.username }}</td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.last_login }}</td>
            <td>{{ customer.date_joined }}</td>
            <td>
                {% if customer.is_active %}
                    Unbanned
                {% else %}
                    Banned
                {% endif %}
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in banform %}
                        {{ field.label_tag }} {{ field }}
                        <p class="help"> Uncheck active and click ban to ban this user </p>
                    {% endfor %}
                    <input class="btn btn-danger" type="submit" value="Ban">
                </form>
            </td>
        </tr>

    </table>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Verified?</th>
            <th scope="col">Primary</th>
        </tr>
        </thead>
        {% for emailaddress in customer.emailaddress_set.all %}
            <tr>

                <td>{{ emailaddress.email }}</td>
                <td>
                    {% if emailaddress.verified %}
                        <span class="verified">Verified</span>
                    {% else %}
                        <span class="unverified">Unverified</span>
                    {% endif %}
                </td>
                <td>{% if emailaddress.primary %}<span class="primary">Primary</span>{% endif %}</td>
                {% if forloop.first %}

                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <h2> Orders </h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>

            <th scope="col">Date</th>
            <th scope="col">Items</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        {% for order in orders %}
            <tr>
                <td>
                    {% if not admin %}
                        <a href="{% url 'partner_order_details' partner_slug=partner.slug cart_id=order.id %}">
                            {{ order.id }}
                        </a>
                    {% else %}
                        {{ order.id }}
                    {% endif %}
                </td>
                <td>
                    {% if not admin %}
                        <a href="{% url 'partner_order_details' partner_slug=partner.slug cart_id=order.id %}">
                            {{ order.date_submitted }}
                        </a>
                    {% else %}
                        {{ order.date_submitted }}
                    {% endif %}
                </td>
                <td>{{ order.num_items }}</td>
                <td>
                    {% if order.at_pos %}
                        {{ order.payment_partner }}
                    {% else %}
                        Online
                    {% endif %}
                </td>
                <td>{{ order.status }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

