{% extends 'container.html' %}
{% load static %}

{% block title %}Partner List{% endblock %}
{% block extrastyle %}

    <!-- Custom styles for this template -->

{% endblock %}
{% block content %}
    <div class="col">
        <h2>Retail Partners</h2>
        <p>
            Our retail partners gain access to our catalog of products, the CG&T marketplace, inventory management
            features,
            and optionally, a custom-branded website. To become a retail partner,
            please <a href="mailto:shop@comicsgamesandthings.com">email us</a>.
        </p>
    </div>
    <div class="col">
        {% for partner in retail_list %}
            <div class="row mb-3">
                <div class="col">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="card-body">

                                <h3>
                                    <a href={% url 'partner_info' partner_slug=partner|slugify %}>{{ partner }}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
