{% load wagtailcore_tags %}
{% load templatehelpers %}

{% load static %}


<div class="">
    <div class="lg:max-h-64 flex flex-col lg:flex-row gap-4 lg:gap-6">
        <div class="w-full lg:w-64 h-64 flex-shrink-0">
            <a href="product/{{ product.slug }}/"
               style="text-decoration: none; color: inherit;">
                {% if product.main_image and first %}
                    <img class='w-full h-full object-cover rounded-t-md lg:rounded-t-none {% if filtered_items|length > 1 %}lg:rounded-br-md{% endif %}'
                         src="{{ product.main_image.image.url }}"
                         alt="{{ product.main_image.alt_text }}">
                {% endif %}
            </a>
        </div>
        <div class="flex-grow lg:grid lg:grid-cols-2 lg:grid-rows-2-first-min lg:py-3 px-3 lg:px-0 ">
            <div class="flex flex-row col-span-2 items-center justify-between">
                <a href="product/{{ product.slug }}/"
                   class="unstyled no-underline hover:no-underline text-black hover:text-black">
                    <h1 class="text-2xl lg:text-xl 2xl:text-2xl font-bold">
                        {% if first %}
                            {{ product.name }}
                        {% endif %}
                    </h1>
                </a>
                <span class="justify-self-end flex flex-row gap-1.5">
                    <span class="text-gray-300">
                        {% include 'shop/snippets/visibility_reminders.html' %}
                    </span>
                    <span class=" {% if all_items|length > 1 %}text-gray-300{% else %}text-gray-500{% endif %}">
                        {% for itemIcon in all_items %}
                            {% if itemIcon|is_inventory_item %}
                                <i title="Physical item" class="fas fa-box {% if itemIcon == item %}text-gray-600








                                    {% else %}{% if all_items|length > filtered_items|length %} order-first" title="This item has additional item types available. Enter the product page to view.{% endif %}{% endif %}"></i>
                            {% endif %}
                            {% if itemIcon|is_download_item %}
                                <i title="Digital item" class="fas fa-download {% if itemIcon == item %}text-gray-600








                                    {% else %}{% if all_items|length > filtered_items|length %} order-first" title="This item has additional item types available. Enter the product page to view.{% endif %}{% endif %}"></i>
                            {% endif %}
                            {% if itemIcon|is_mto_item %}
                                <i title="Made-to-order item"
                                   class="fas fa-hammer {% if itemIcon == item %}text-gray-600








                                       {% else %}{% if all_items|length > filtered_items|length %} order-first" title="This item has additional item types available. Enter the product page to view.{% endif %}{% endif %}"></i>
                            {% endif %}
                        {% endfor %}
                    </span>
                </span>
            </div>
            {% if first %}
                <div class="prose overflow-hidden first-child-line-clamp-3 all-other-children-hidden">
                    {{ product.description|richtext }}
                </div>
            {% else %}
                <div></div>
            {% endif %}
            <div class="text-right self-end text-sm">
                {% if item|is_inventory_item %}
                    {% with inventory_items=all_items|inventory_items %}
                        {% with inventory_items|get_total_inventory as inv_count %}
                            {% if inv_count > 0 %}
                                <p class="text-gray-400"><span class="text-gray-500 font-bold">{{ inv_count }}</span> in
                                    stock</p>
                            {% else %}
                                {% if inventory_items|is_backorderable %}
                                    {% if product.is_preorder %}
                                        <p class="font-bold text-primary-700">Preorderable</p>
                                    {% else %}
                                        <p class="font-bold text-yellow-700">Backorder</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% endif %}
                {% if product.msrp %}
                    <p class="text-gray-400">
                        MSRP {{ product.msrp }}
                    </p>

                {% endif %}
                {% if product.in_store_pickup_only and not item|is_download_item %}
                    <p class="text-gray-400">
                        In-store pickup only
                    </p>
                {% endif %}
                {% if product.release_date %}
                    <p class="text-gray-400">
                        Released on <span class="font-bold text-gray-500">{{ product.release_date }}</span>
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="w-full lg:w-72 flex flex-col gap-2 py-3 bg-gray-100 p-4 flex-shrink-0 rounded-b-md lg:rounded-b-none text-3xl font-semibold">
            {% if item|is_inventory_item %}
                <p>
                    <!-- <i class="fas fa-box"></i> -->
                    {% include 'shop/snippets/discounted_price.html' with item=all_items|inventory_items|cheapest_item_in_stock %}
                </p>
            {% elif item|is_download_item %}
                <p>
                    <!-- <i class="fas fa-download"></i> -->
                    {% include 'shop/snippets/discounted_price.html' with item=all_items|download_items|cheapest_item %}
                </p>
            {% elif item|is_mto_item %}
                <p>
                    <!-- <i class="fas fa-hammer"></i> -->
                    {% include 'shop/snippets/discounted_price.html' with item=all_items|mto_items|cheapest_item %}
                </p>
            {% elif item %}
                    <p>
                        <!-- <i class="fas fa-hammer"></i> -->
                        {% include 'shop/snippets/discounted_price.html' %}
            {% endif %}
            {% if not manage %}
                {% if not item|purchased:user %}
                    {% react_render component="AddToCartButton" props=item %}
                {% else %}
                    {% if item|is_download_item %}
                        <a href="product/{{ product.slug }}/"
                           class="unstyled no-underline hover:no-underline text-black hover:text-black">
                            <h1 class="inline-flex items-center justify-center px-6 py-3 border
                            border-transparent text-xl font-medium rounded-md shadow-sm text-white focus:outline-none
                            focus:ring-2 focus:ring-offset-2 w-full bg-green-600 hover:bg-green-700
                                focus:ring-primary-500">
                                Download
                            </h1>
                        </a>
                    {% endif %}
                {% endif %}
            {% else %}
                <a href="product/{{ product.slug }}/"
                   class="unstyled no-underline hover:no-underline text-black hover:text-black">
                    <h1 class="inline-flex items-center justify-center px-6 py-3 border
                            border-transparent text-xl font-medium rounded-md shadow-sm text-white focus:outline-none
                            focus:ring-2 focus:ring-offset-2 w-full bg-green-600 hover:bg-green-700
                                focus:ring-green-500">
                        Edit
                    </h1>
                </a>
                <div class="text-sm">
                    {{ item.button_status.0 }}
                    <br>
                    {% if item.button_status.1 %}
                        Button Enabled
                    {% else %}
                        Button Disabled
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>