<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5">
    {% for item in  mto_items %}
        <div class="row mb-3">
            <div class="col">
                <div class="card bg-gray-700 text-white" style="text-shadow: 2px 2px 3px black">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                {% if item.external_url %}
                                    <a href="{{ item.external_url }}">
                                        <h1 class="bg-primary-600 hover:bg-primary-700 focus:ring-primary-500 inline-flex items-center
                                                    justify-center px-6 py-3 border border-transparent text-xl
                                                    font-medium rounded-md shadow-sm text-white focus:outline-none focus:ring-2
                                                    focus:ring-offset-2 w-full">
                                            External Shop
                                            <i class="fas fa-arrow-up-right-from-square"></i>

                                        </h1>
                                    </a>
                                    {% if partner and partner == item.partner %}
                                        <a href="{% url 'edit_item' partner_slug=partner.slug product_slug=product.slug item_id=item.id %}">
                                            Edit
                                        </a>
                                        <a href="{% url 'delete_item' partner_slug=partner.slug product_slug=product.slug item_id=item.id confirm=0 %}">
                                            Delete
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <h5 class="card-title"><span
                                            id="{{ item.id }}_count">{{ item.current_inventory }}</span>
                                        at {{ item.partner }}</h5>
                                    {% if partner and partner == item.partner %}
                                        <a href="{% url 'edit_item' partner_slug=partner.slug product_slug=product.slug item_id=item.id %}">
                                            Edit
                                        </a>
                                        <a href="{% url 'delete_item' partner_slug=partner.slug product_slug=product.slug item_id=item.id confirm=0 %}">
                                            Delete
                                        </a>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col">
                                            {% include 'checkout/snippets/addtocartbutton.html' %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
