{% if partner %}
    <script>
        function loadReason{{ product.id }}() {
            fetch("{% url 'why_visible' partner.slug product.slug %}")
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    document.getElementById("{{ product.id }}_visibility").title = data["reason"]
                });
        }


    </script>
    <div>
        {% if product.page_is_draft %}
            <i class="fas fa-drafting-compass" data-toggle="tooltop" title="Draft"></i>
        {% endif %}
        {% if product.should_be_listed %}
            <i class="far fa-list-alt" data-toggle="tooltop" title="Listed in Store"></i>
        {% endif %}
        {% if product.should_be_purchasable %}
            <i class="fas fa-store-alt" data-toggle="tooltop" title="Purchasable"></i>
        {% endif %}

        <span data-toggle="tooltip" title="" id="{{ product.id }}_visibility"
              onmouseover="loadReason{{ product.id }}()">
        {% if product.should_be_visible %}
            <i class="fas fa-eye"></i>
        {% else %}
            <i class="fas fa-eye-slash"></i>
        {% endif %}
    </span>
    </div>
{% endif %}