{% extends 'container.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}
{% block extrastyle %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/stripe_checkout.js' %}" defer></script>

    <link rel="stylesheet" href="{% static 'css/stripe.css' %}"/>


{% endblock %}
{% block content %}
    {% include "checkout/snippets/checkout_process_bar.html" %}
    {% include "checkout/snippets/small_cart_summary.html" %}
    <div>
        <!-- Display a payment form -->
        <form id="payment-form">
            <div id="card-element"><!--Stripe.js injects the Card Element--></div>
            <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay</span>
            </button>
            <p id="card-error" role="alert"></p>
            <p class="result-message hidden">
                Payment succeeded!
            </p>
        </form>
    </div>
{% endblock %}