{% extends 'container.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}
{% block extrastyle %}

{% endblock %}
{% block content %}

    <div>
        <h3> Checkout complete</h3>
        You can check the status of your order <a href="{% url 'past_order_details'  cart_id=cart.id %}">here</a>.
        {% if cart.is_login_required %}
            Once it has finished processing you will be able to download all items in your order from your accounts
            downloads.
        {% endif %}
    </div>
{% endblock %}