{% extends 'account/base.html' %}
{% load static %}

{% block title %}Pledge History{% endblock %}
{% block extrastyle %}

    <!-- Custom styles for this template -->

{% endblock %}
{% block content %}
    <script>
        function reload_from_patreon(id) {
            let button = document.getElementById(id);
            console.log(button)
            button.disabled = true;
            button.setAttribute("disabled", "true"); //Why doesn't this disable
            button.removeAttribute("onclick")
            button.classList.add('btn-secondary')
            button.classList.remove('btn-success')
            console.log(button)

            fetch("/accounts/profile/refresh_from_patreon/".concat(
                id).concat("/"))
                .then(response => {
                    location.reload();
                });
        }
    </script>
    {% if campaigns %}
        <h2>Campaign Pledges</h2>
    {% endif %}
    {% for campaign, data in campaigns.items %}
        <h3> {{ campaign }} Pledges</h3>
        {% if data.member_id.id %}
            <button class="btn btn-success" onclick="reload_from_patreon(this.id)" id="{{ data.member_id.id }}">
                Reload from patreon
            </button>
        {% else %}
            Member ID not found
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date (Patreon Date)</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Type</th>
                <th scope="col">Tier</th>
                <th scope="col">Qualifying for packs:</th>

            </tr>
            </thead>
            {% for pledge in data.patreon_pledges %}
                <tr>

                    <td>{{ pledge.date }} ({{ pledge.patreon_timestamp }})</td>

                    <td>
                        {% if pledge.ignore %}
                            Ignored, but normally:
                        {% endif %}
                        {% if pledge.payment_status == None %}
                            {{ pledge.pledge_payment_status }}
                        {% else %}
                            {{ pledge.payment_status }}
                        {% endif %}

                    </td>
                    <td>{{ pledge.type }}</td>
                    <td>{{ pledge.tier.tier_name }}</td>
                    <td>
                        {% for pack in pledge.qualified_for_packs.all %}
                            {{ pack.name }}<br>
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}

