{% extends 'container.html' %}
{% load templatehelpers %}
{% load static %}
{% load react %}

{% block enablebootstrap %}{% endblock %}

{% block title %}Mange Packs{% endblock %}
{% block content %}
    <h3>Packs:</h3>
    <div>
        <a href="{% url 'create_digital_pack' partner_slug=partner.slug %}">
            <h4>Create pack</h4>
        </a>
    </div>
    {% for pack in packs %}
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class='card-img img-thumbnail ' src="{{ pack.primary_image.image_url }}"
                                 alt="{{ pack.primary_image.alt_text }}"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3>
                                    <a href="{% url 'manage_product' partner_slug=partner.slug product_slug=pack.slug %}">
                                        {{ pack.name }}
                                    </a>

                                    <a href="{% url 'edit_digital_pack' partner_slug=partner.slug pack_id=pack.id %}">
                                        <i>Edit</i>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}