<div class="card-group h-100 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 justify-around flex-grow grow">
    {% for item in featured_items %}
        <div style="height: 300px;">
            <a href="/shop/product/{{ item.product.slug }}/"
               style="text-decoration: none; color: inherit;" class="card-link">
                <div class="card h-100 bg-dark" style="height: 300px;" >
                    <img class='card-img my-auto h-100' src="{{ item.product.main_image.image.url }}"
                         alt="{{ item.product.main_image.alt_text }}">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body-mb-0 h-100 d-flex flex-column">
                            <div class="card-subtitle font-weight-bold text-primary-300"
                                 style="text-shadow: 1px 1px #0b4d13, 2px 2px 4px #1c211e, 3px 3px 10px #1c211e">
                                {% if item.product.is_preorder %}
                                    Preorder
                                {% endif %}
                            </div>
                            <div class="card-text mt-auto font-weight-bold text-white"
                                 style=" text-align: right; text-shadow: 1px 1px black, 2px 2px 4px #1c211e, 3px 3px 10px #1c211e">
                                {{ item.price }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>