{% if campaign.discounts.exists %}
    <h2>Subscriber-Exclusive Discounts</h2>
    {% for discount in campaign.discounts.all %}
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="card-body">

                            <h3>
                                {{ discount }}
                            </h3>
                            {% if discount.is_during_discount %}
                                Active for: {{ discount.time_remaining }}
                            {% else %}
                                Discount is not currently active
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}