{% load static %}
{% block content %}

{% endblock %}
<h3><a href="{% site_url order %}{% url 'past_order_details' cart_id=order.id %}">
    Order {{ order.id }}
</a></h3>
{% if order.public_comments %}
    <div>
        <h4>
            Order Comments
        </h4>
        <p>
            {{ order.public_comments }}
        </p>
    </div>
{% endif %}

<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Items</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tr>
            <td>
                {{ order.date_submitted }}
            </td>
            <td>{{ order.num_items }}</td>
            <td>
                {% if order.at_pos %}
                    {{ order.payment_partner }}
                {% else %}
                    Online
                {% endif %}
            </td>
            <td>{{ order.status }}</td>
        </tr>
    </table>
    {% include 'checkout/snippets/cart_address_info.html' with cart=order %}
    {% include 'checkout/snippets/static_cart_summary.html' with cart=order %}
</div>
{% block footer %}

{% endblock %}