{% load react %}
{% load templatehelpers %}
<form class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 mr-2">
                <label id='{{ item.id }}_price' for="add_to_cart_{{ item.id }}">
                    {% if item.pay_what_you_want %}
                        Pay what you want above {{ item.price }}:
                    {% else %}
                        {% with price=item|get_discount_price:user %}
                            {% if product.msrp %}
                                {% if item.price != product.msrp %}
                                    <span class="line-through"> MSRP {{ product.msrp }}</span>
                                {% endif %}
                            {% endif %}
                            {% if price != item.default_price %}
                                <span class="line-through"> Regularly {{ item.default_price }}</span>
                            {% endif %}

                            <span>{{ price }}</span>

                        {% endwith %}
                    {% endif %}
                </label>

            </div>
            <div class="col-xs-1">
                {% if not item|purchased:user %}
                    {% react_render component="AddToCartButton" props=item ssr_context=cart %}
                {% endif %}
            </div>
        </div>
    </div>
</form>