{% extends 'container.html' %}
{% load static %}

{% block title %}500{% endblock %}
{% block extrastyle %}

    <!-- Custom styles for this template -->

{% endblock %}
{% block content %}
    <h1>500</h1>
    <p>
        Looks like you've found an error. We may be pushing an update right now or this may be a more permanent issue.
        Please try reaching out via <a href="https://discord.gg/FAjJN4mgHq">discord</a> or
        <a href="nsh@comicsgamesandthings.com">email</a> to see if you can find the source of the error.
    </p>
{% endblock %}