{% extends 'container.html' %}
{% load wagtail_non_admin_draftail_tags %}
{% load static %}

{% block title %}Create or Edit{% endblock %}
{% block extrastyle %}
    <script type="text/javascript" src="/static/js/jsi18n.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

    <script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>

    {% include "wagtail_non_admin_draftail/draftail_media.html" %}

    {{ form.media.js }}
    {{ form.media.css }}


{% endblock %}
{% block content %}
    {% block info_before %}
    {% endblock %}
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'snippets/form_body.html' %}
        <input type="submit" value="Save" class="btn btn-success">
        {% block extra_submit_buttons %}
        {% endblock %}
    </form>
    {% block info_after %}
    {% endblock %}
{% endblock %}