{% extends 'container.html' %}
{% load templatehelpers %}
{% load static %}
{% load react %}

{% block enablebootstrap %}{% endblock %}

{% block title %}Shop{% endblock %}
{% block extrastyle %}
    <style>
        .card-img {
            object-fit: cover;
            height: 20vh;
        }
    </style>
    {{ filters_form.media }}
{% endblock %}
{% block content %}
    {% block content_header %}
    {% endblock %}
    {% empty_array as manual_form_fields %}
    <form action="." method="GET" id="filter_form">
        <div class="flex flex-col-reverse xl:flex-row-reverse gap-2 lg:gap-4 xl:gap-8 overflow-x-auto">
            <!-- items list -->
            <div class="flex-grow flex flex-col gap-2 lg:gap-4">
                <!-- search bar -->
                <div class="flex flex-col gap-2 sm:flex-row">
                    {{ filters_form.search.errors }}
                    <label for="{{ filters_form.search.id_for_label }}"
                           class="block text-sm font-medium text-gray-700 sr-only">{{ filters_form.search.label }}</label>
                    <div class="flex rounded-md shadow flex-grow">
                        <div class="relative flex items-stretch flex-grow focus-within:z-10">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <!-- Heroicon name: solid/search -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400"
                                     viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <input type="text" name="{{ filters_form.search.name }}"
                                   id="{{ filters_form.search.auto_id }}"
                                   class="focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-none rounded-l-md pl-10 border-gray-300"
                                   placeholder="Type to search..."
                                   value='{% firstof filters_form.search.data "" %}'>
                        </div>
                        <button class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
                                type="submit">
                            <!-- Heroicon name: solid/sort-ascending -->
                            <!-- <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h5a1 1 0 000-2H3zM3 11a1 1 0 100 2h4a1 1 0 100-2H3zM13 16a1 1 0 102 0v-5.586l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 101.414 1.414L13 10.414V16z" />
                            </svg> -->
                            <span>Search</span>
                        </button>
                        {% if filters_form.search.help_text %}
                            <p class="help">{{ filters_form.search.help_text|safe }}</p>
                        {% endif %}
                        {% list_append manual_form_fields "search" as manual_form_fields %}
                    </div>
                    <!-- order by -->
                    <div class="flex flex-row gap-4 items-center">
                        {% if filters_form.order_by %}
                            {% with props=filters_form.order_by|filter_form_bf_props_choice %}
                                {% react_render component="ProductListPageSort" props=props class="w-full" %}
                            {% endwith %}
                            {% list_append manual_form_fields "order_by" as manual_form_fields %}
                        {% endif %}
                    </div>
                </div>
                <!-- actual list -->
                <div class="lg:bg-white lg:shadow lg:rounded-md">
                    {% if page %}
                        {% if page.has_other_pages %}
                            {% include 'snippets/page_numbers.html' %}
                        {% endif %}
                        {% block list %}
                            <ul class="lg:divide-y-2 lg:divide-neutral_back shoplist">
                                {% for entry in page %}
                                    <li class="bg-white rounded-md lg:rounded-none shadow lg:shadow-none mb-3 lg:mb-0">
                                        {% block card %}
                                            <div class="card">
                                                <div class="row no-gutters">
                                                    {{ entry }}
                                                </div>
                                            </div>
                                        {% endblock %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endblock %}
                        {% with form=filters_form %}
                            {% include 'snippets/page_numbers.html' %}
                        {% endwith %}
                    {% else %}
                        {% block alternate %}
                            <p>No items in list.</p>
                        {% endblock %}
                    {% endif %}
                </div>
            </div>
            <!-- filters section -->
            <div class="bg-gray-50 border border-gray-300 text-black xl:bg-white py-3 px-4 xl:py-4 rounded-md self-start shadow w-full xl:w-auto">
                <div class="hidden xl:flex flex-col gap-3" id="filtersContainer">
                    <div class="flex-grow flex flex-col gap-3">
                        <div class="grid grid-cols-2-auto items-center justify-items-stretch gap-3 text-sm">
                            {% if filters_form.price_minimum and filters_form.price_maximum %}
                                <!-- price range field -->
                                <label>Price range:</label>
                                <div class="flex flex-row items-center gap-2">
                                    <label class="sr-only" for="{{ filters_form.price_minimum.auto_id }}_0">Price
                                        minimum</label>
                                    <input type="text" name="{{ filters_form.price_minimum.name }}_0"
                                           id="{{ filters_form.price_minimum.auto_id }}_0"
                                           class="focus:ring-indigo-500 focus:border-indigo-500 block rounded-md border-gray-300 text-sm w-24"
                                           placeholder="$0.00"
                                           value='{% firstof filters_form.price_minimum.data|first "" %}'>
                                    <input type="hidden" name="{{ filters_form.price_minimum.name }}_1" value="USD">
                                    <p class="flex-grow text-center">to</p>
                                    <label class="sr-only" for="{{ filters_form.price_maximum.auto_id }}_0">Price
                                        maximum</label>
                                    <input type="text" name="{{ filters_form.price_maximum.name }}_0"
                                           id="{{ filters_form.price_maximum.auto_id }}_0"
                                           class="focus:ring-indigo-500 focus:border-indigo-500 block rounded-md border-gray-300 text-sm w-24"
                                           placeholder="∞"
                                           value='{% firstof filters_form.price_maximum.data|first "" %}'>
                                    <input type="hidden" name="{{ filters_form.price_maximum.name }}_1" value="USD">
                                </div>
                                {% list_append manual_form_fields "price_minimum" as manual_form_fields %}
                                {% list_append manual_form_fields "price_maximum" as manual_form_fields %}
                            {% endif %}
                            {% if filters_form.product_type %}
                                <!-- product type field -->
                                <label for="{{ filters_form.product_type.auto_id }}"
                                       class="self-start">{{ filters_form.product_type.label }}:</label>
                                <ul id="{{ filters_form.product_type.auto_id }}" class="shoplist">
                                    {% for value, choiceName in filters_form.product_type.field.choices %}
                                        <li class="group">
                                            <label for="{{ filters_form.product_type.auto_id }}_{{ forloop.counter0 }}"
                                                   class="text-gray-500 group-hover:text-gray-700 inline-flex flex-row items-center">
                                                <input class="mr-2 border-gray-400 group-hover:border-gray-700 rounded"
                                                       id="{{ filters_form.product_type.auto_id }}_{{ forloop.counter0 }}"
                                                       name="{{ filters_form.product_type.name }}"
                                                       value="{{ value }}" type="checkbox"
                                                       {% if value in filters_form.product_type.data %}checked="checked"{% endif %}>
                                                {{ choiceName }}
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% list_append manual_form_fields "product_type" as manual_form_fields %}
                            {% endif %}
                            {% if filters_form.in_stock_only and filters_form.featured_products_only %}
                                <!-- In stock only and featured products -->
                                <div class="col-span-2 flex flex-row gap-4">
                                    <label for="{{ filters_form.in_stock_only.auto_id }}"
                                           class="text-gray-500 group hover:text-gray-700 inline-flex flex-row items-center">
                                        <input class="mr-2 border-gray-400 group-hover:border-gray-700 rounded"
                                               id="{{ filters_form.in_stock_only.auto_id }}"
                                               name="{{ filters_form.in_stock_only.name }}" type="checkbox"
                                               {% if filters_form.in_stock_only.data %}checked="checked"{% endif %}>
                                        {{ filters_form.in_stock_only.label }}
                                    </label>
                                    <label for="{{ filters_form.featured_products_only.auto_id }}"
                                           class="text-gray-500 group hover:text-gray-700 inline-flex flex-row items-center">
                                        <input class="mr-2 border-gray-400 group-hover:border-gray-700 rounded"
                                               id="{{ filters_form.featured_products_only.auto_id }}"
                                               name="{{ filters_form.featured_products_only.name }}" type="checkbox"
                                               {% if filters_form.featured_products_only.data %}checked="checked"{% endif %}>
                                        {{ filters_form.featured_products_only.label }}
                                    </label>
                                </div>
                                {% list_append manual_form_fields "in_stock_only" as manual_form_fields %}
                                {% list_append manual_form_fields "featured_products_only" as manual_form_fields %}
                            {% endif %}
                            <!-- partner field -->
                            {% if filters_form.partner %}
                                {% include "shop/snippets/filter-dropdown.html" with field=filters_form.partner %}
                                {% list_append manual_form_fields "partner" as manual_form_fields %}
                            {% endif %}
                            {% if filters_form.publisher %}
                                {% include "shop/snippets/filter-dropdown.html" with field=filters_form.publisher %}
                                {% list_append manual_form_fields "publisher" as manual_form_fields %}
                            {% endif %}
                            {% if filters_form.game %}
                                {% include "shop/snippets/filter-dropdown.html" with field=filters_form.game %}
                                {% list_append manual_form_fields "game" as manual_form_fields %}
                            {% endif %}
                            {% if filters_form.faction %}
                                {% include "shop/snippets/filter-dropdown.html" with field=filters_form.faction %}
                                {% list_append manual_form_fields "faction" as manual_form_fields %}
                            {% endif %}
                            <!-- categories field -->
                            {% if filters_form.categories %}
                                <label for="{{ filters_form.categories.auto_id }}"
                                       class="self-start">{{ filters_form.categories.label }}:</label>
                                {{ filters_form.categories }}
                                {% list_append manual_form_fields "categories" as manual_form_fields %}
                            {% endif %}

                        </div>
                        <!-- remaining fields that we didn't render manually -->
                        <!-- should normally not contain any fields but additional filter fields that have not been styled will appear here -->
                        {% for field in filters_form.visible_fields|remove_rendered_fields:manual_form_fields %}
                            <div class="fieldWrapper max-w-full">
                                {{ field.errors }}
                                <label class="text-gray-500 group hover:text-gray-700"
                                       for="{{ field.auto_id }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <input class='btn btn-secondary mb-4 xl:mb-0' type="submit" value="Update"/>
                </div>
                <div class="flex xl:hidden flex-row gap-2 w-full justify-between cursor-pointer"
                     id="toggleFiltersButton">
                    <p class="text-gray-700 font-medium inline" id="showFiltersLabel">Show filters</p>
                    <p class="text-gray-700 font-medium hidden" id="hideFiltersLabel">Hide filters</p>
                    <svg xmlns="http://www.w3.org/2000/svg" id="filtersChevron" class="h-6 w-6 text-gray-600"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M19 13l-7 7-7-7m14-8l-7 7-7-7"/>
                    </svg>
                </div>
            </div>
            <script>


                document.getElementById("toggleFiltersButton").addEventListener("click", function () {
                    document.getElementById("filtersContainer").classList.toggle("hidden");
                    document.getElementById("filtersContainer").classList.toggle("flex");
                    document.getElementById("showFiltersLabel").classList.toggle("inline");
                    document.getElementById("showFiltersLabel").classList.toggle("hidden");
                    document.getElementById("hideFiltersLabel").classList.toggle("hidden");
                    document.getElementById("hideFiltersLabel").classList.toggle("inline");
                    document.getElementById("filtersChevron").classList.toggle("transform");
                    document.getElementById("filtersChevron").classList.toggle("rotate-180");
                });
            </script>
        </div>
    </form>
{% endblock %}