{% extends 'filtered_list_view.html' %}
{% load wagtailcore_tags %}
{% load templatehelpers %}
{% load static %}

{% block title %}{% if manage %} Manage Products {% else %} Shop {% endif %}{% endblock %}
{% block card %}
    {% with entry as product %}
        {% with all_items=product|get_items_for_partner:partner_slug %}
            {% with filtered_items=product|items_set_with_custom_manager %}
                {% include 'shop/snippets/item_list_entry.html' with first=1 item=filtered_items|first %}
                {% for item in filtered_items|skip_first %}
                    {% include 'shop/snippets/item_list_entry.html' %}
                {% endfor %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endblock card %}

{% block alternate %}
    <p class="p-6">No products are available that match your search criteria.</p>
{% endblock %}