WEB_CONCURRENCY=2
DJANGO_SETTINGS_MODULE=shopcgt.settings
PATREON_CLIENT_ID=xxxxxx_xXxxxxXxxxxxxxXxxxxxxxXxxxxxxxXxXxxXxXxxxxxxxxxxxXxxxxxXx
PATREON_CLIENT_SECRET=xxxxxxXxx-xxxxXxXxxxxxXxxxxxxxxxxxxxx-xxXxxxxxxxXxXXxXxXxxxxXxXX
BACKBLAZE_APP_KEY=xXXXxxxxxxXxxXxxxXxxxxxxxxxxxxx
BACKBLAZE_APP_KEY_ID=XXXxxxxxXXxXXxXXXXXXXXXXX
BACKBLAZE_ACCOUNT_ID=xxxxxXXxXXxX
DJANGO_SECRET_KEY=DJANGOSECRETKEYxxxxxxXxx-xxxxXxXxxxxxXxxxxxxxxxxXxxXxxxXxxxxxxxxxxxxx

WAGTAIL_SITE_NAME="Comics Games and Things"

PSQL_USERNAME = username
PSQL_PASSWORD = password
PSQL_HOST = localhost
PSQL_PORT = 25060

EMAIL_PASS = XxxxXxXXXxxxxXxXXx

DJANGO_ENV = development

AZURE_ACCOUNT_NAME = xxxx
AZURE_ACCOUNT_KEY = xxxx
AZURE_CONTAINER = xxxx
AZURE_PUBLIC_CONTAINER = xxxx

QUADERNO_PRIVATE = b
QUADERNO_PUBLIC = a
QUADERNO_URL =https://xxxx.quadernoapp.com/api/


STATIC_ACCESS_KEY_ID=Ffdsfdsrerwrew
STATIC_SECRET_KEY=ofdaer45456574e

STATIC_BUCKET_NAME=cgtstatic
STATIC_ENDPOINT_URL=https://nyc3.digitaloceanspaces.com